*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageCarouselContainer{
    border: 4px solid black;
    height: 600px;
    width: 800px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imageCarousel{
    /* border: 1px solid red; */
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    /* border: 1px solid black; */
    width: 5%;

    background-color: lightseagreen;
    text-align: center;
    border-radius: 100%;
    font-size: 40px;
}

.imageSlideContainer{
    /* border: 1px solid black; */
    height: 95%;
    width: 100%;

    background-color: lightblue;
}

.imageSlide{
    border: 1px solid green;
    height: 100%;

    text-align: center;
    font-size: 200px;
    padding-top: 150px;
    display: none;
}

.dotContainer{
    /* border: 1px solid black; */
    height: 5%;

    background-color: pink;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.dot{
    /* border: 1px solid black; */
    height: 20px;
    width: 20px;

    background-color: grey;
    border-radius: 100%;
    margin: 5px;
}


/*----------------------------------change display to block to reveal image--------------------------*/
.image3{
    display: block;
}